@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  @apply py-20;
}

.slick-dots {
  color: #1A21BC;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #1A21BC !important;
}

.slick-dots li button:before {
  font-size: 11px !important;
}

.bg-deepSlate{
  background-color: #ffe4e0;
  /* background-color: rgb(213 239 250 / var(--tw-bg-opacity)); */

}

.after\:bg-primary::after, .bg-primary {
  background-color: rgb(200 71 54) !important;
}
.text-primary{
  color: rgb(200 71 54);
}

.card-expe{
  border-radius: 10px;
  border: 1px solid #ECECEC;
  box-shadow: 4px 4px 8px 0px rgba(30, 30, 30, .08);
}
.card-expe:hover .card-icon{
  background-color: rgb(200 71 54) !important;
}